name: Build QEMU for WebAssembly

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build python3-pip cmake
          pip install meson

      - name: Setup Emscripten SDK
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk
          ./emsdk install latest
          ./emsdk activate latest
          echo "source $(pwd)/emsdk_env.sh" >> $GITHUB_ENV
          source ./emsdk_env.sh
          emcc -v

      - name: Configure QEMU for WebAssembly
        run: |
          source $GITHUB_ENV
          mkdir build-wasm && cd build-wasm

          emconfigure ../qemu-src/configure \
            --target-list=x86_64-softmmu \
            --enable-tcg-interpreter \
            --disable-xen \
            --disable-kvm \
            --disable-docs \
            --disable-tools \
            --disable-user \
            --disable-virtfs \
            --disable-vnc \
            --disable-curses \
            --disable-gtk \
            --disable-sdl \
            --disable-opengl \
            --static \
            "CFLAGS=-O3 -sALLOW_MEMORY_GROWTH=1 -sMODULARIZE=1 -sEXPORT_ES6=1 -sWASM_BIGINT" \
            "LDFLAGS=-sEXPORT_ALL=1 -sENVIRONMENT=web"

      - name: Build QEMU
        run: |
          source $GITHUB_ENV
          cd build-wasm
          emmake make -j$(nproc)

      - name: Upload WASM + JS output
        uses: actions/upload-artifact@v4
        with:
          name: qemu-wasm
          path: build-wasm/
